.features {
    display: flex;

    &__img {
        width: pxToRem(705);
        height: pxToRem(840);
    }

    &__inner {
        padding: pxToRem(100) 0;
    }

    &__title {
        font-size: pxToRem(60);
        margin-bottom: pxToRem(85);
    }

    &__text {
    }
}
