.team {

    &__container {
        padding: pxToRem(120) 0 pxToRem(164) 0;
    }

    &__title {
        font-size: pxToRem(60);
        margin-bottom: pxToRem(120);
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
    }

    &__item-img {
        margin-bottom: pxToRem(35);
    }

    &__item-name {
        margin-bottom: pxToRem(12);
        text-align: center;
        font-weight: 700;
        font-size: pxToRem(14);
        line-height: pxToRem(17);
        color: $color-green;
    }

    &__item-position {
        text-align: center;
        font-weight: 300;
        font-size: pxToRem(12);
        line-height: pxToRem(16);
        color: #C2C2C2;
    }
}
