.header {

    &__top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: pxToRem(94);
        padding: 0 pxToRem(32);
        background: $color-white;
    }
}
.logo {

    &__link {
        display: block;
        padding: pxToRem(20);
    }

    &__img {
        width: pxToRem(42);
        height: pxToRem(42);
    }
}
.menu {

    &__list {
        display: flex;
        gap: pxToRem(30);
        padding: 0 pxToRem(10);
    }

    &__list-item {
    }

    &__link {
        padding: pxToRem(10);
        color: $color-green;
        font-size: pxToRem(12);
    }

    &__link--active {
        border-bottom: pxToRem(2) solid $color-yellow;
    }
}
